html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

button {
    all: unset;
    cursor: pointer;
}
/*colors: 
Black(1e1e1e)
Grey(2d2d2d)
*/

body {
    width: 100vw;
    height: 100vh;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #2d2d2d;
}

main{
    width: 100%;
    height: 95%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
footer {
    width: 100%;
    height: 5%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

#welcomeScreen {
    width: 50%;
    height: 50%;

    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcomeScreen h1 {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    color: white;
    
}
#welcomeScreen div {
    
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playButton {
    width: 70%;
    height: 30%;   
    border-radius: 5%;
    background-color: #d98b00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    font-weight: 900;
}

#playButton:hover {
    background-color: #2596be;
}


#gameSelector {
    width: 50%;
    height: 50%;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameSelector h1 {
    display: flex;
    font-size: 5vw;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    border: 1px solid #2596be;
}
#gameSelector div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
    margin-bottom: 10px;

    
}
#gameSelector div button{
    

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20%;
    background-color: #d98b00;
    font-size: 3vw;
    border-radius: 5px;
    transition: 300ms;
}
#gameSelector div button:hover{
    background-color: inherit;
    color: white;
}
#gameSelector #returnToHomePage{
    height: 10%;
    width: 10%;
    background-color: #2596be;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 100%;
    font-weight: 900;
    font-style: italic;
    border-radius: 5px;


}
footer div {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 1px solid #2596be;
    transition: 500ms;
}
footer div:hover {
    width: 100%;
    
}
#githubLogo {
    width: 30px;
    height: 30px;
    
    
}
