* {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #2d2d2d;
    align-items: start;
}

ul {
    list-style: none;

    
}
button{
    margin: 10px;
    background-color: #4d4d4d;
    border: 0;
    border-radius: 10px;
    font-size: 1.5em;
    transition: font-size 0.5s;
    transition: background-color 0.5s;
    padding:10px;
    color: #d98b00;

}
button:hover{
    font-size: 2em;
    background-color:#3c3c3c;
}


li {
    margin: 40px;
    font-size: 2em;
    background-color: #4d4d4d;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    
    justify-content: space-between;
    

}
li:hover{
    .espanol {
        color: #d98b00;

    }
}


.espanol {
    width: 100%;
    display: flex;
    justify-content: start;
    
  
    color: #4d4d4d; /*#d98b00 #4d4d4d*/
}

.polish {
    display: flex;
    justify-content: end;
    width: 100%;
    
    color: #888;
}

